.App {
  font-family: Arial, sans-serif;
  color: #333;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-header .nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.App-header .nav-links a {
  text-decoration: none;
  font-size: 18px;
}

.App-main {
  padding: 20px;
  text-align: center;
}

.App-main .intro {
  max-width: 600px;
  margin: 0 auto;
}

.App-main button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.App-main button:hover {
  background-color: #0056b3;
}

.App-footer {
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #ccc;
}

.Tasks_Nav a{
  border-radius: 5px;
  background-color: #007bff;
  padding: 10px 20px;
  margin: auto 10px;
  color:#ffffff;
}
.Tasks_Nav a:hover {
  cursor: pointer;
  color: #007bff;
  background-color: white;
}
